*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: 'Nunito', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 500;
  color: #666666;
  background-color: #fafafa;
}

h2 {
  color: #2ca6c3;
  font-weight: 500;
}

h3 {
  color: #2ca6c3;
  font-weight: 500;
}

fieldset {
  border: none;
  margin-bottom: 1rem;
}

label {
  display: block;
  color: #2ca6c3;
  text-align: left;
}

input[type='text'],
input[type='number'] {
  display: block;
  width: 100%;
  line-height: 1.7rem;
  background-color: #fafafa;
  box-shadow: none;
  border-radius: 5px;
  border: 1px solid #d1dbe0;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.primary-btn {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2rem;
  background-color: #2ca6c3;
  border-radius: 5px;
  color: white;
  line-height: 1.7rem;
  padding: 0.3rem 1rem;
  width: 8rem;
  border: 0px;
  cursor: pointer;
}

.main-section {
  width: 100%;
  height: calc(95vh - 80px);
  text-align: center;
  background-size: initial;
  background-image: url('../img/background.png');
  background-repeat: repeat;
}

.navigation {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
}

.dark {
  color: #333333;
}

.blue {
  color: #2ca6c3;
}

.bgc-blue {
  background-color: #2ca6c3;
}

.error {
  color: red;
  font-size: 0.8rem;
  border: 1px solid red;
  line-height: 0.8rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.hide {
  display: none !important;
}

.show {
  display: initial;
}

.story-p {
  margin-bottom: 0.5rem;
}

.story-div {
  margin-bottom: 1rem;
}

.btn-margin {
  margin-bottom: 60px;
}
