*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.1rem;
  font-family: 'Nunito', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 500;
  color: #666666;
  background-color: #fafafa;
}

h2 {
  color: #333333;
  font-weight: 500;
}

h3 {
  color: #333333;
  font-weight: 500;
}

.primary-btn {
  text-align: center;
  text-decoration: none;
  background-color: #2ca6c3;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  line-height: 1.7rem;
  padding: 0.3rem 1rem;
  font-weight: normal;
  border: 0px;
  cursor: pointer;
}

.main-section {
  width: 100%;
  height: calc(95vh - 80px);
  text-align: center;
  background-size: initial;
  background-image: url('../img/background.png');
  background-repeat: repeat;
}
