/*************************************
    HOME
*************************************/

.home-container {
  padding: 1rem;
  background-color: #fff;
  width: 100%;
  height: calc(95vh - 80px);
  overflow: scroll;
}

.home-container img {
  width: 100%;
}

.home-call {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
}

.play-btn {
  margin: auto;
}

/*************************************
    COMMON GAME
*************************************/

.game-container {
  height: 85vh;
  margin: auto;
  padding: 0.5rem;
  overflow: scroll;
}

.section-area {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #ffffff;
}

.section-area > .solution-input {
  width: 10rem;
  text-align: center;
  margin: auto;
}
.section-img > img {
  width: 100%;
}

/*************************************
    INTRO
*************************************/

.form-section {
  line-height: 2rem;
}

.size-radio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.5rem;
}

.img-option {
  display: grid;
  justify-content: center;
}

.size-radio label {
  text-align: center;
  display: grid;
}
.size-radio input[type='radio'] {
  display: none;
}
.size-radio input[type='radio']:checked ~ img {
  border: 2px solid #2ca6c3;
}

/*************************************
    GAME01 - MOSAIC
*************************************/
.mosaic {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 0.3rem;
  margin-bottom: 3rem;
  perspective: 1500px;
}

.mosaic-cell {
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  cursor: pointer;
}

.mosaic-card-1 {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.mosaic-card-2 {
  position: absolute;
  top: 0;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.is-flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.mosaic-cell img {
  width: 100%;
}

/*************************************
    GAME02 - X-WORD
*************************************/
.x-word {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem;
  justify-content: center;
  align-items: center;
  row-gap: 0.3rem;
  margin-bottom: 3rem;
}

.x-word > .input-letter {
  background-color: #f3f1ee;
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 5px -5px 10px 0px rgba(195, 182, 157, 0.75);
  -moz-box-shadow: 5px -5px 10px 0px rgba(195, 182, 157, 0.75);
  box-shadow: 5px -5px 10px 0px rgba(195, 182, 157, 0.75);
}

.x-word-hints {
  font-size: 0.8rem;
  text-align: left;
  padding: 0 0.5rem;
}
.x-word > .word {
  text-align: right;
  padding: 0 0.5rem;
}

.word-1 {
  grid-column-start: 2;
  grid-row-start: 1;
}
.word-2 {
  grid-column-start: 5;
  grid-row-start: 2;
}
.word-3 {
  grid-column-start: 5;
  grid-row-start: 3;
}
.word-4 {
  grid-column-start: 4;
  grid-row-start: 4;
}
.word-5 {
  grid-column-start: 4;
  grid-row-start: 5;
}
.word-6 {
  grid-column-start: 5;
  grid-row-start: 6;
}
.word-7 {
  grid-column-start: 2;
  grid-row-start: 7;
}
.word-8 {
  grid-column-start: 8;
  grid-row-start: 8;
}
.word-9 {
  grid-column-start: 3;
  grid-row-start: 9;
}
.word-10 {
  grid-column-start: 4;
  grid-row-start: 11;
}
.word-11 {
  grid-column-start: 3;
  grid-row-start: 12;
}

.cell-1 {
  grid-column-start: 3;
  grid-row-start: 1;
}
.cell-2 {
  grid-column-start: 4;
  grid-row-start: 1;
}
.cell-3 {
  grid-column-start: 5;
  grid-row-start: 1;
}
.cell-4 {
  grid-column-start: 6;
  grid-row-start: 1;
}
.cell-5 {
  grid-column-start: 7;
  grid-row-start: 1;
}
.cell-6 {
  grid-column-start: 8;
  grid-row-start: 1;
}
.cell-7 {
  grid-column-start: 6;
  grid-row-start: 2;
}
.cell-8 {
  grid-column-start: 7;
  grid-row-start: 2;
}
.cell-9 {
  grid-column-start: 8;
  grid-row-start: 2;
}
.cell-10 {
  grid-column-start: 9;
  grid-row-start: 2;
}
.cell-11 {
  grid-column-start: 10;
  grid-row-start: 2;
}
.cell-12 {
  grid-column-start: 6;
  grid-row-start: 3;
}
.cell-13 {
  grid-column-start: 7;
  grid-row-start: 3;
}
.cell-14 {
  grid-column-start: 8;
  grid-row-start: 3;
}
.cell-15 {
  grid-column-start: 9;
  grid-row-start: 3;
}
.cell-16 {
  grid-column-start: 5;
  grid-row-start: 4;
}
.cell-17 {
  grid-column-start: 6;
  grid-row-start: 4;
}
.cell-18 {
  grid-column-start: 7;
  grid-row-start: 4;
}
.cell-19 {
  grid-column-start: 8;
  grid-row-start: 4;
}
.cell-20 {
  grid-column-start: 9;
  grid-row-start: 4;
}
.cell-21 {
  grid-column-start: 10;
  grid-row-start: 4;
}
.cell-22 {
  grid-column-start: 5;
  grid-row-start: 5;
}
.cell-23 {
  grid-column-start: 6;
  grid-row-start: 5;
}
.cell-24 {
  grid-column-start: 7;
  grid-row-start: 5;
}
.cell-25 {
  grid-column-start: 8;
  grid-row-start: 5;
}
.cell-26 {
  grid-column-start: 9;
  grid-row-start: 5;
}
.cell-27 {
  grid-column-start: 10;
  grid-row-start: 5;
}
.cell-28 {
  grid-column-start: 6;
  grid-row-start: 6;
}
.cell-29 {
  grid-column-start: 7;
  grid-row-start: 6;
}
.cell-30 {
  grid-column-start: 8;
  grid-row-start: 6;
}
.cell-31 {
  grid-column-start: 9;
  grid-row-start: 6;
}
.cell-32 {
  grid-column-start: 10;
  grid-row-start: 6;
}
.cell-33 {
  grid-column-start: 11;
  grid-row-start: 6;
}
.cell-34 {
  grid-column-start: 3;
  grid-row-start: 7;
}
.cell-35 {
  grid-column-start: 4;
  grid-row-start: 7;
}
.cell-36 {
  grid-column-start: 5;
  grid-row-start: 7;
}
.cell-37 {
  grid-column-start: 6;
  grid-row-start: 7;
}
.cell-38 {
  grid-column-start: 7;
  grid-row-start: 7;
}
.cell-39 {
  grid-column-start: 8;
  grid-row-start: 7;
}
.cell-40 {
  grid-column-start: 9;
  grid-row-start: 7;
}
.cell-41 {
  grid-column-start: 1;
  grid-row-start: 8;
}
.cell-42 {
  grid-column-start: 2;
  grid-row-start: 8;
}
.cell-43 {
  grid-column-start: 3;
  grid-row-start: 8;
}
.cell-44 {
  grid-column-start: 4;
  grid-row-start: 8;
}
.cell-45 {
  grid-column-start: 5;
  grid-row-start: 8;
}
.cell-46 {
  grid-column-start: 6;
  grid-row-start: 8;
}
.cell-47 {
  grid-column-start: 7;
  grid-row-start: 8;
}
.cell-48 {
  grid-column-start: 4;
  grid-row-start: 9;
}
.cell-49 {
  grid-column-start: 5;
  grid-row-start: 9;
}
.cell-50 {
  grid-column-start: 6;
  grid-row-start: 9;
}
.cell-51 {
  grid-column-start: 7;
  grid-row-start: 9;
}
.cell-52 {
  grid-column-start: 8;
  grid-row-start: 9;
}
.cell-53 {
  grid-column-start: 9;
  grid-row-start: 9;
}
.cell-54 {
  grid-column-start: 6;
  grid-row-start: 10;
}
.cell-55 {
  grid-column-start: 5;
  grid-row-start: 11;
}
.cell-56 {
  grid-column-start: 6;
  grid-row-start: 11;
}
.cell-57 {
  grid-column-start: 7;
  grid-row-start: 11;
}
.cell-58 {
  grid-column-start: 8;
  grid-row-start: 11;
}
.cell-59 {
  grid-column-start: 4;
  grid-row-start: 12;
}
.cell-60 {
  grid-column-start: 5;
  grid-row-start: 12;
}
.cell-61 {
  grid-column-start: 6;
  grid-row-start: 12;
}
.cell-62 {
  grid-column-start: 7;
  grid-row-start: 12;
}
.cell-63 {
  grid-column-start: 8;
  grid-row-start: 12;
}
.cell-64 {
  grid-column-start: 9;
  grid-row-start: 12;
}

/*************************************
    GAME03 - SUPERMARKET
*************************************/

.supermarket-list-quantities {
  display: grid;
  grid-template-columns: 1fr;
}
.supermarket-list-quantities label {
  display: inline-block;
  width: 50%;
  text-align: right;
  padding-right: 2rem;
}
.supermarket-list-quantities input {
  display: inline-block;
  width: 15%;
}

/*************************************
    GAME04 - BACK HOME
*************************************/
.home-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
}
.home-icon {
  cursor: pointer;
}
.home-icon > img {
  width: 80%;
}
.code-spaces {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.code-space {
  width: 40px;
  height: 40px;
  border: 1px solid #2ca6c3;
}
.code-space > img {
  width: 100%;
}

/*************************************
    GAME05 - BEFORE DINNER
*************************************/

.final-word {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  row-gap: 0.3rem;
  margin: 2rem auto;
  width: 15rem;
  text-align: center;
}

.final-word > .input-letter {
  background-color: #f3f1ee;
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 5px -5px 10px 0px rgba(195, 182, 157, 0.75);
  -moz-box-shadow: 5px -5px 10px 0px rgba(195, 182, 157, 0.75);
  box-shadow: 5px -5px 10px 0px rgba(195, 182, 157, 0.75);
}

/*************************************
    END GAME
*************************************/

.long-btn {
  width: 10rem;
}

/*************************************
    PRIZE
*************************************/

.prize-h3 {
  display: block;
  background-color: #2ca6c3;
  color: white;
  padding: 1rem;
}

.prize-frankie {
  display: grid;
  justify-content: center;
  margin-bottom: 1rem;
}

.prize-frankie-img {
  max-width: 350px;
  margin: auto;
}

.prize-frankie-text {
  display: grid;
  justify-content: center;
  align-content: space-around;
  align-self: stretch;
  font-size: 1.1rem;
  background-color: white;
  padding: 1rem;
}

.prize-frankie-img img {
  width: 100%;
}

.prize-pdf {
  display: grid;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.prize-pdf-img img {
  width: 100%;
  position: relative;
}

.cta-red {
  background-color: #ff7282;
}

.navigation-prize {
  display: flex;
  justify-content: space-around;
}

/*************************************
    MEDIA QUERIES
*************************************/

@media all and (min-width: 480px) {
  .home-container img {
    max-width: 80%;
  }
  .intro {
    width: 80%;
    margin: auto;
  }
}

@media all and (min-width: 550px) {
  .x-word {
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
    grid-template-rows: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
    row-gap: 0.3rem;
  }

  .x-word > .input-letter {
    width: 2.5rem;
    font-size: 1rem;
  }

  .prize-frankie {
    grid-template-columns: 2fr 1fr;
  }

  .prize-frankie-img {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .prize-frankie-text {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

@media all and (min-width: 768px) {
  .game-container {
    max-width: 750px;
  }

  .size-radio {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .supermarket-list-quantities {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 992px) {
  .home-container img {
    max-width: 70%;
  }
}

@media all and (min-width: 1200px) {
  .home-container img {
    max-width: 800px;
  }
}
