/*************************************
    HOME
*************************************/

.home-container {
  padding: 1rem;
  background-color: #fff;
  width: 100%;
  height: calc(95vh - 80px);
  overflow: scroll;
}

.home-container img {
  width: 100%;
}

.home-call {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
}

/*************************************
    COMMON GAME
*************************************/

.game-container {
  height: 85vh;
  margin: auto;
  padding: 1rem;
  overflow: scroll;
}

.section-area {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #ffffff;
}



/*************************************
    INTRO
*************************************/

.form-section {
  line-height: 2rem;
}


/*************************************
    MEDIA QUERIES
*************************************/

@media all and (min-width: 480px) {
  .home-container img {
    max-width: 80%;
  }
  .intro {
    width: 80%;
    margin: auto;
  }
}

@media all and (min-width: 768px) {
  .home-container img {
}

@media all and (min-width: 992px) {
  .home-container img{
    max-width: 70%;
}

@media all and (min-width: 1200px) {
  .home-container img{
    max-width: 800px;
}