.home-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.home-container img {
  width: 100%;
}

.home-call {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
}
